@mixin placeholder-styles {
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
    font-family: $base-font-family;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
    font-family: $base-font-family;
    opacity: 1;
  }
  ::-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
    font-family: $base-font-family;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #999;
    font-family: $base-font-family;
    opacity: 1;
  }
}
