.c-video {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 15px;
  cursor: pointer;

  &__copy {
    p {
      margin: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
