.c-video {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 15px;
  cursor: pointer;

  &__img-container {
    img {
      display: block;
    }
  }

  &__copy {
    p {
      margin: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }
}
